*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------- Side header ---------- */
.user-img{
    width: 50px;
    border: 1px solid #eeee;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 200vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 10;
}

.sidebar.active ~ .header{
    left: 250px;
    width: calc(100% - 250px);
    /*margin-left: -170px; /* Shift left by the difference when sidebar expands */
    transition: all 0.5s ease; 
}

.sidebar.active{
    width:250px;
}



.sidebar #btn{
    position: relative;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%
}


.sidebar .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active.top.logo{
    opacity: 1;
}

.top.logo i{
    font-size: 2rem;
    margin-right: 5px;

}
.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: relative;
    left: 125px;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8 rem;
    z-index: 20;
    opacity: 0;
}

.sidebar .active ul li:hover .tooltip{
    opacity: 1;
}

.sidebar .active ul li .tooltip{
    display: none;
}

.header{
    position: fixed;
    background-color: #1a212b;
    top: 0;
    left: 80px; /* Initial position when sidebar is collapsed */
    width: calc(100% - 80px); /* Adjusts to sidebar width */
    height: 100px;
    transition: all 0.5s ease;
    z-index: 5;
   
}

.header header {

    background-color: #12171e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 20px;
    height: 100px;
    transition: margin-left 0.5s ease; /* Smooth transition */
    margin-left: 0; /* Initial position */
    
}

#header-button {
    background-color: #FFFFFF;
    color: #12171e;
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s;
}

#header-button:hover {
    background-color: grey;
}




/* ---------- Main Body ---------- */

.main-content{
    position: relative;
    background-color: #1d2229;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    margin-top: 100px;
    padding: 1rem;
   
}


*/*body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    
  }*/

  .body{

position: relative;




  }

.calender {
	width: 380px;
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: #496ea097;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
    align-self: flex-start;
   /*float: left;*/
    top: 100px;
    bottom: 200px;
    margin-left: 20%;
   transform: scale(1, 1);

 
}

.head{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;



}

.head button{

display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 50%;
background: #a9cd24;
cursor: pointer;
width: 30px;
height: 30px;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);


}

.days{

    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day{

    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-weight: 500;
}

.dates{
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;

}

.date{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;



}

.date:hover,
.date.active{

    background: #ff5869;
    color: #fff;

}


.date.inactive{


    color: #d2d2d2;

}

.date.inactive.hover{

color: #fff;

}

.monthYear{

    text-align: center;
    font-weight: 600;
    width: 150px;
}

.calendar-container {
    display: flex;
    gap: 40px; 


}
    .input-fields {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #496fa0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 290px;
    transform: scale(1.5,1.5);
   top: 150px;
   right: 300px;
    
    
}

.input-fields label {
    font-weight: 600;
    color: #333;
}

.input-fields input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #dddddd59;
    font-size: 1rem;
}

/* ---------- Log workout ---------- */
#workout-btn{

    position: absolute;
    background-color: #496ea097;
    color: white;
    bottom: 150px;
    left: 300px;
    width: 350px;
    cursor: pointer;
    margin-top: 20% ;
    border-radius: 10px;
    height: 10%;
    box-shadow: white;
    padding: 5px;
    text-shadow: 5px #12171e;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

#overlay.visible {
    opacity: 1;
    visibility: visible;
}

#popupDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90vw;
    height: 90vh;
    color: white;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

#popupDialog.visible {
    opacity: 1;
    visibility: visible;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.close-btn:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.weight-input-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weight-input-container input[type="number"] {
    flex: 1;
}

.weight-input-container select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #dddddd59;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s ease;
    width: 60px;
}

.weight-input-container select:focus {
    outline: none;
    border-color: #496ea0;
}

.height-input-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.height-input-container input[type="number"] {
    flex: 1;
}

.height-input-container select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #dddddd59;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s ease;
    width: 60px;
}

.height-input-container select:focus {
    outline: none;
    border-color: #496ea0;
}


#nextBtn{


}


#prevBtn{
}

/* ---------- Workout Table implementation ---------- */
.exercise-table {
width: 80%;
border-collapse: collapse;
}
.exercise-table th, .exercise-table td {
padding: 10px;
border: 0px solid #ddd;
text-align: center;
vertical-align: top;
}
.exercise-table th {
background-color: #f2f2f2;
}
.input-group {
display: flex;
flex-direction: column;
gap: 5px;
}
.input-field {
width: 90%;
padding: 5px;

}
.add-row-btn {
margin: 10px 0;
border-radius: 12%;
padding: 10px 15px;
font-size: 16px;
cursor: pointer;
background-color: black;
color: white;

}
#exercise-table-header{
    background-color: black;
}